<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Personas</title>
  </head>
  <body>
    <h5>Listado de Personas - {{numero_personas}}</h5>

    {% for e in personas %}

    <ol>
      <li><b>Nombre: </b>{{e['nombre']}}</li>
      <li><b>Apellido: </b>{{e['apellido']}}</li>
      <li><b>Cedula: </b>{{e['cedula']}}</li>
      <li><b>Correo: </b>{{e['correo']}}</li>
    </ol>
    <hr>
    {% endfor%}
  </body>
</html>
