{% extends "master.html" %}

{% block title %}
  Listado de Locales de Comida
{% endblock %}

{% block content %}
<h3>Número de Locales de Comida {{ numero_localComida }}</h3>

<table id="tabla_datos">

  <thead>
    <tr>
      <th>Propietario</th>
      <th>Dirección</th>
      <th>Barrio</th>
      <th>Tipo de Comida</th>
      <th>Ventas</th>
      <th>Valor del Permiso</th>
      <th>Opciones</th>
    </tr>
  </thead>

  {% for e in LocalComida %}
  <tr>
    <td> {{e.propietario.nombre}} </td>
    <td> {{e.direccion}} </td>
    <td> {{e.barrio.nombre}}</td>
    <td> {{e.comida}}</td>
    <td> {{e.ventas}}</td>
    <td> {{e.permiso}}</td>
    <td> 
      <a href="{% url 'editar_local_comida' e.id %}">editar</a> <br>
      <a href="{% url 'eliminar_local_comida' e.id %}"
      onclick="return confirm('¿Está seguro de la eliminación?')" >
      eliminar</a>
    </td>

  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_datos').DataTable();
  });
</script>
{% endblock %}